<div class="container">
  <img src="../assets/evalogo.jpg">
  <form>
    <div class="row">
      <div class="input-field col s6"><input placeholder="Firstname"></div>
      <div class="input-field col s6"><input placeholder="Lastname"></div>
    </div>
    <div class="row">
      <div class="input-field col s6"><input placeholder="Username"></div>
      <div class="input-field col s6"><input placeholder="Password"></div>
    </div>
    <input placeholder="Email">
  </form>
  <a class="waves-effect waves-light btn green" (click)="registerAccount()" href="/login">Create Account</a>
</div>
