<div class="z-depth-2">
  <form>
    <div class="row">
      <div class="input-field col s6"><input placeholder="titel" #titel ></div>
      <div class="input-field col s6"><input placeholder="beschrijving" #beschrijving></div>
    </div>
    <div class="row">
      <div class="input-field col s6"><input type="text" placeholder="category" #category></div>
    </div>
    <div class="input-field col s6"><textarea placeholder="bv. : '2 stukken appel, 3 eetlepes suiker'" #ingredienten class="materialize-textarea"></textarea></div>
    <a class="waves-effect waves-light btn green addButton">Add recipe</a>
  </form>
</div>
