<div class="container z-depth-1 lime firstdiv">
  <div class="white recipedisplay z-depth-2 row">
    <h3 class="col s6">Veganistisch recept1</h3>
    <div class="personenwidget">
      <img src="../../../assets/arrow_left_black.png" class="arrows  col s1 responsive-img">
      <div class="personen col s1">2</div>
      <!--<img src="../../../assets/arrow_left_grey.png" class="arrows">-->
      <img src="../../../assets/arrow_right_black.png" class="arrows  col s1 responsive-img">
      <!--<img src="../../../assets/arrow_right_grey.png" class="arrows">-->
      <div class="col s3"></div>
    </div>
  </div>
</div>
