.sidenavbar {
  height: 100%
}
 .contentpart {
  height: inherit;
   overflow: scroll;
   overflow-x: hidden;
 }

 .mydisplay {
   height: 625px;
 }
.catbutton {
  display: table;
  margin: 0 auto;
}

.catbutton > a{
  margin-top: 5px;
  margin-bottom: 5px;
}

.myrecipe {
  margin: 5px;
  height: 100%;
  border-radius: 4px;
}

